#deepseek
export DS_API_KEY="sk-896b15f2678a403db14753850ee3e219"
export DS_API_BASE="https://api.deepseek.com" 

#ark engine
export ARK_API_KEY="3a75147d-2bde-4ba6-a25c-f721a5dcb923"
export ARK_API_BASE="https://ark.cn-beijing.volces.com/api/v3"
